/*https://images.unsplash.com/photo-1603302576837-37561b2e2302?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8bGFwdG9wc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60*/

/*importing google font Family-poppins*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/*reset browsers default styles*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

body {   
  height: 100vh;
  margin: 0;
  background: #b1aaaa;
  // background: radial-gradient(#387989, #6dd5ed);
  // background-repeat: no-repeat;
}


.header-content-wrapper {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4rem;
}


/*Logo*/
.logo {
  font-size: 30px;
  font-weight: bolder;
  color: #f9328a;
}

/*Nav Links*/
.nav-links {
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none; /*remove underline*/
  transition: 0.5s;
  padding: 5px;
  margin: 5px;
}

.nav-links.active {
  color: #f9328a;
}

/* Main Body Content */
main {
  margin-top: 80px;
}

.section h2 {
  font-size: 30px;
  font-weight: bold;
  color: #f9328a;
  margin-bottom: 10px 0;
  text-transform: uppercase;
  text-align: center;
}





/*Contact me section*/

.form-group label {
  display:block;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
}
.form-section form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.form-group input {
  border: 1px solid #f9328a;
  border-radius: 4px;
  width: 400px;
  margin-bottom: 20px;
  font-size: 14px;
  padding: 10px;

}

.form-group textarea {
  border: 1px solid #f9328a;
  border-radius: 4px;
  padding: 10px;
  width: 400px;
  font-size: 14px;
  height: 300px;
  resize:none;
  margin-bottom: 10px;
}

/* selection section */
.priority-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

 #priority{
  display: block;
  margin-bottom: 5px;
  border: 1px solid black;
  border-radius: 4px;
  margin-top: .1rem;
  margin-bottom: 1rem;
}

/* send button section */
.btn {
  white-space:nowrap;
  background-color: #f9328a;
  border: none;
  color: #ffffff;
  padding: 1em 2em;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 10px;
  margin: 2px;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.5s;
  margin-bottom: 8rem;
}

.btn:hover {
  opacity: 0.8;
}

/*social Media*/

.social-account-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.social-account-wrapper svg {
  width: 15px;
  height: 15px;
  fill:#000;
}

.social-account-wrapper svg:hover {
  fill: white;
  cursor:pointer;
  position:relative;
  bottom:10px;
}

footer {
  background-color: #f9328a;
  padding: 30px;
  margin-top: 2rem;  
}