/*https://images.unsplash.com/photo-1603302576837-37561b2e2302?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8bGFwdG9wc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60*/

/*importing google font Family-poppins*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/*reset browsers default styles*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

body {   
    background: #f5f5f5;
}

/*Header section*/
header {
  background-image: url("https://images.unsplash.com/photo-1555066931-bf19f8fd1085?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1471&q=80");

  background-size: cover;
  background-position: 50%;
  height: 90vh;
}

html{
  scroll-behavior: smooth;

}

/*Overlay*/
.header-overlay {
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  height: 90vh;
  width: 100%;
  top: 0;
}

.header-content-wrapper {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4rem;
}


/*Logo*/
.logo {
  font-size: 30px;
  font-weight: bolder;
  color: #f5ee38;
}

/*Nav Links*/
.nav-links {
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none; /*remove underline*/
  transition: 0.5s;
  padding: 5px;
  margin: 5px;
}

.nav-links.active {
  color: #f9328a;
}

.hero-wrapper {
  position: relative;
  display: flex;
  z-index: 1;
  flex-direction: column;
  align-items: center;
  margin-top: -10px;
  margin: auto;
  margin-right: auto;
}

.full-name {
  color: #ffffff;
  font-size: 30px;
  text-transform: uppercase;
  margin: 10px 0;
}

.intro {
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* icons */
.hero-wrapper-icons svg {
  width: 30px;
  height: 30px;
  fill: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 50%;
  padding: 4px;
  margin: 5px;
  transition: 0.5s;
  cursor: pointer;
}

.hero-wrapper-icons:hover {
  opacity: 0.9;
}

/*buttons*/
.btn {
  white-space: nowrap;
  padding: 1em 2em;
  background-color: #f9328a;
  border: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
/*   border-radius: 30px; */
  margin: 2px;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.5s;
}

.btn:hover {
  opacity: 0.8;
}

.profile-image {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  margin-top: 5px;
}

.download-btn {
  background-color: #ffffff;
  color: #f9328a;
}

.download-btn:hover {
  opacity: 0.8;
  background-color: #f9328a;
  color: #ffffff;
}

/* Main Body Content */
main {
  margin-top: 80px;
}

.section {
  padding: 40px;
}

.section h2 {
  font-size: 30px;
  font-weight: bold;
  color: #f9328a;
  margin-bottom: 10px 0;
  text-transform: uppercase;
  text-align: center;
}

.about-me {
  width: 80%;
  margin: 0 auto;
}

.about-intro {
  text-align: center;
  margin-top: 20px;
  line-height: 2;
}

/* goals section*/
.goals-section {
  margin: 40px 0;
/*   background-color: #f9328a; */
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.goals-section h2 {
  color: #f9328a;
}

.goals-wrapper {
  text-align: center;
  margin: 35px 0;
}

.goals-pill {
  background-color: #000;
  color: #ffffff;
  padding: 8px;
  margin: 4px;
  border-radius: 5px;
  font-size: 12px;
  transition: 0.5s;
  cursor: pointer;
}

.goals-pill:hover {
  fill: #000;
  cursor:pointer;
  position:relative;
  bottom:10px;
}

/*education Section*/

.education-section {
  margin:40px 0;
  min-height: 100%;
/*    background-color: #f9328a; */
}
.education-section h2 {
  color: #f9328a;
  margin-bottom: 20px;
}

.education-card-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.education-card {
  background-color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.education-card:hover {
  box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.4);
  background-color: #ffffff;
}

.education-card svg {
  width: 30px;
  height: 30px;
  color: #000;
  margin-bottom: 10px;
}

.education-card-content {
  text-align: center;
  padding:2px;
  width: 100%;
}

.education-title {
  color: #f9328a;
  margin-bottom: 10px;

}

/*Contact me section*/

.form-group label {
  display:block;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
}
.form-section form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.form-group input {
  border: 1px solid #f9328a;
  border-radius: 4px;
  width: 400px;
  margin-bottom: 20px;
  font-size: 14px;
  padding: 10px;

}

.form-group textarea {
  border: 1px solid #f9328a;
  border-radius: 4px;
  padding: 10px;
  width: 400px;
  font-size: 14px;
  height: 300px;
  resize:none;
  margin-bottom: 10px;
}
button.btn {
    border-radius: 5px;
}

/* selection section */
.priority-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

 #priority{
  display: block;
  margin-bottom: 5px;
  // border: 1px solid #f9328a;
  border: 1px solid black;
  border-radius: 4px;
  margin-top: .1rem;
  margin-bottom: 1rem;
}

/*social Media*/

.social-account-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.social-account-wrapper svg {
  width: 15px;
  height: 15px;
  fill:#000;
}

.social-account-wrapper svg:hover {
  fill: white;
  cursor:pointer;
  position:relative;
  bottom:10px;
}

footer {
  background-color: #f9328a;
  padding: 30px;
  margin-top: 8rem;  
}


     /* MEDIA QUERY */
@media screen and (max-width: 425px ) {
  .full-name {
    color: #ffffff;
    font-size: 30px;
    text-transform: uppercase;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .hero-wrapper {
    position: relative;
    width: 100%;
    display: flex;
    z-index: 1;
    flex-direction: column;
    align-items: center;
    margin-top: -10px;
    margin: auto;
    margin-right: auto;
   }
  section {
      width: 50%;
      width: 100%;
  }
  section.hero-wrapper-icons {
    display: flex;
    justify-content: center;
  }
 .hero-btn-wrapper {
    margin-top: -0.5em;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  section.header-content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    margin-top: -2.5em;
  }
  .goals-section {
    margin: -43px 0;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .goals-wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 35px 0;
  }
  .goals-pill {
    background-color: #000;
    color: #ffffff;
    padding: 1em 2em;
    margin: 4px;
    border-radius: 10px;
    font-size: 12px;
    transition: 0.5s;
    cursor: pointer;
    white-space: nowrap;
  }
  .education-card-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-direction: column;
  }
  input#subject {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: fit-content;
  }
  textarea#message {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      width: fit-content;
  }
  .social-account-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }


  
}

  

  

