/*https://images.unsplash.com/photo-1603302576837-37561b2e2302?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8bGFwdG9wc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60*/

/*importing google font Family-poppins*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/*reset browsers default styles*/

* {
//   margin: 0;
//   padding: 0;
//   box-sizing: border-box;
//   font-family: Poppins, sans-serif;
}

body {
//   background: #b1aaaa;
}

html {
  scroll-behavior: smooth;
}

.header-content-wrapper {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4rem;
}

/*Logo*/
.logo {
  font-size: 30px;
  font-weight: bolder;
  color: #f9328a;
}

/*Nav Links*/
.nav-links {
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none; /*remove underline*/
  transition: 0.5s;
  padding: 5px;
  margin: 5px;
}

.nav-links.active {
  color: #f9328a;
}

/* Main Body Content */
main {
  margin-top: 80px;
}

/* main section */

/*social Media*/

.social-account-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.social-account-wrapper svg {
  width: 15px;
  height: 15px;
  fill: #000;
}

.social-account-wrapper svg:hover {
  fill: white;
  cursor: pointer;
}

/* footer */
footer {
  background-color: #f9328a;
  padding: 30px;
  margin-top: 2rem;

}










